*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/**/

body{
    padding: 50px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.el_1{
    text-indent: 35px;
    margin: 0px 600px 40px 0px;
    display: inline-block;
}

.el_2{
    padding-left: 50px;
    display: block;
}

.el_3{
    padding-left: 75px;
}

.el_4{
    text-indent: 35px;
    margin: 32px 0px;
    padding-bottom: 35px;
}

.el_5{
    padding: 0px 35px;
    display: inline;
}

.el_6{
    display: inline-block;
    padding: 0px 20px;
    margin: 0px 675px 0px 40px;
}

.el_7{
    display: inline-block;
    margin: 35px 45px;
    padding: 0px 35px;
}

.el_8{
    display: inline-block;
    margin: 0px 40px;
    padding: 0px 30px 0px 75px;
}

.el_9{
    display: block;
    margin: 35px 0px;
    padding: 45px 0px;
}